<div class="container">
  <h1>Movie Finder</h1>

  <form>
    <div class="farm-group">
      <input type="text" name="movie-name" class="form-control" #moviename placeholder="Enter movie name">
    </div>
    <div class="form group mt-2">
      <button (click)="getMovieDetails(moviename.value)" type="submit" class="btn btn-primary">Get Movie Details</button>
    </div>
  </form>

  <div class="row bg-light mt-4 p-4" *ngIf="movieData">
    <div class="col-sm-4">
      <div>
        <h3>{{movieData?.Eroor}}</h3>
      </div>
      <div *ngIf="movieData.Poster.length>3">
          <img src="{{movieData?.Poster}}">
      </div>
    </div>

    <div class="col-sm-8">
      <div *ngIf="movieData.Title">
        <h1>{{movieData?.Title}}</h1>
        <h2>Director: {{movieData?.Director}}</h2>
      </div>
    </div>
  </div>
</div>